{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block style %}
{% endblock %}


{% block content %}

{% if messages %}
    {% for i in messages %}
        <div class="alert alert-warning alert-dismissible fade show position-fixed w-75 mt-3" style="left: 12.5%" role="alert">
            {{ i }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<style>
    .create__product {
        display: grid;
        gap: 10px;
        margin: 0 auto;
        max-width: 75%;
    }
</style>

<div class="container">
    <div class="create__product">
        <div class="main__title">{% if update %}Редагувати товар{% else %}Добавити товар{% endif %}</div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for form in forms %}
            <div>
                <label for="">{{ form.label }}</label>
                {{ form }}
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary w-50 mt-3">{% if update %}Змінити{% else %}Добавити товар{% endif %}</button>
        </form>
    </div>
</div>

{% endblock %}