{% extends 'base.html' %}
{% load static %}

{% block banner %}
<img src="{% static 'base/img/banners/main.png' %}" alt="">
{% endblock %}

{% block content %}
    <div class="container">
        
    </div>
    <div class="main__block">
        <div class="main__title">Каталог</div>
    </div>
    <div class="main__products container">
        {% for product in products %}
            <div class="main__product">
                <div class="product__img">
                    <img src="{% static product.image %}" alt="{{product.image}}">
                </div>
                <div class="product__name">{{ product.name }}</div>
                <div class="product__mini-description">{{ product.description1 }}</div>
                <div class="product__price">{{ product.price }} грн.</div>
                
                <form action="{% url 'add-to-cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="product__flavours">
                        <p>Смак</p>
                        <select name="chosen_flavour">
                            {% for flavour in product.flavours.all %}
                                {% if flavour.is_avialable %}
                                    <option value="{{ flavour.flavour }}">✅{{ flavour.flavour }}</option>
                                {% else %}
                                    <option value="{{ flavour.flavour }}" disabled>❌{{ flavour.flavour }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="product__buy">
                        <div class="product__amount">
                            <button type="button" onclick="decrease('{{product.id}}')">-</button>
                            <input type="number" name="quantity" oninput="changeValue('{{product.id}}')" value="1" min="1" max="100" id="product-value_{{product.id}}">
                            <button type="button" onclick="increase('{{product.id}}')">+</button>
                        </div>
                        <input type="submit" value="Купити">
                    </div>
                    {% if request.user.username == 'admin' %}
                        <a href="{% url 'delete-product' product.id %}" class="product__delete">Видалити</a>
                    {% endif %}
                </form>
            </div>
        {% endfor %}
    </div>

    <script>
        
        function decrease(index) {
            let inp = document.getElementById(`product-value_${index}`)
            if (inp.value > 1) inp.value--;
        }

        function increase(index) {
            let inp = document.getElementById(`product-value_${index}`)
            if (inp.value < 100) inp.value++;
        }

        function changeValue(index) {
            let inp = document.getElementById(`product-value_${index}`);
            if (inp.value < 1) {
                inp.value = 1;
            } else if (inp.value > 100) {
                inp.value = 100;
            }
        }


    </script>

    
{% endblock %}