{% extends 'base.html' %}
{% load static %}

{% block banner %}
<img src="{% static 'base/img/banners/main.png' %}" alt="">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="main__block">
            <div class="main__title">Каталог</div>
        </div>
        <h5 class="text-center"></h5>   
    </div>


    <div class="main__products container">
        {% for product in products %}
            <div class="main__product">
                <div class="product__img">
                    <a href="{% url 'product_detail' product.slug_name %}">
                        <img src="{% static product.image %}" id="product-image_{{product.id}}"  alt="{{product.image}}">
                    </a>
                </div>
                <div class="product__name"><a href="{% url 'product_detail' product.slug_name %}" id="product-name_{{product.id}}">{{ product.name }}</a></div>
                <div class="product__mini-description">{{ product.description1 }}</div>
                <div class="product__price" id="product-price_{{product.id}}">{{ product.price }} грн.</div>
                
                <form action="" method="POST" id="addToCart_form_{{product.id}}" class="addToCart_form">
                    {% csrf_token %}
                    <div class="product__flavours">
                        <p>Смак</p>
                        <select name="chosen_flavour"  id="product-flavour_{{product.id}}">
                            {% for flavour in product.flavours.all %}
                                {% if flavour.is_avialable %}
                                    <option value="{{ flavour.flavour }}">✅{{ flavour.flavour }}</option>
                                {% else %}
                                    <option value="{{ flavour.flavour }}" disabled>❌{{ flavour.flavour }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="product__buy">
                        <div class="product__amount">
                            <button type="button" onclick="decrease('{{product.id}}')">-</button>
                            <input type="number" name="quantity" oninput="changeValue('{{product.id}}')" value="1" min="1" max="100" id="product-value_{{product.id}}">
                            <button type="button" onclick="increase('{{product.id}}')">+</button>
                        </div>
                        <input type="submit" value="Купити" id="product-btn_{{product.id}}">
                    </div>
                    
                </form>
                {% if request.user.username == 'admin' %}
                        <a href="{% url 'edit-product' product.id %}" class="product__delete bg-warning">Редагувати</a>
                        <a href="{% url 'delete-product' product.id %}" class="product__delete">Видалити</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    
    

<script src="{% static 'base/js/amount.js' %}"></script>
{% endblock %}