.cart{
    &-wrapper {
        display: flex;
        justify-content: space-evenly;
    }
    &__products {
        background-color: #fff;
        width: 60%;
        height: fit-content;
        padding: 5px;

       
    }

    &__product {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        padding: 10px 20px;

        
    }

    &__side {
        &-info {
            width: 30%;
            padding: 20px;
            padding-bottom: 0;
            background-color: #fff;
            display: grid;
            row-gap: 20px;
        }
    
        &__title {
            font-size: 24px;
            font-weight: 600;
            margin-top: 10px;
        }
    
        &__form {
            display: flex;
            gap: 10px;
        }
    
        &__input {
            width: 100%;
            background: transparent;
            border: 1px solid rgba(0, 0, 0, 0.433);
            text-indent: 10px;
            height: 40px;
            color: #000;
            font-size: 14px;
        }
    
        &__button {
            width: 50%;
            height: 40px;
            background-color: #000;
            color: #fff;
            font-weight: 500;
            font-size: 13px;
            transition: all .3s ease;
            border: 2px solid #000;
            font-weight: 600;
            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    
        &__price {
            display: flex;
            justify-content: space-between;
            border-bottom: #00000033 1px solid;
            padding-bottom: 5px;
            &-text {
                font-size: 16px;
                letter-spacing: 0;
                font-weight: 400;
                color: #000000bd;
            }

            &-value {
                color: #000000bd;

            }

            &-text_selected {
                font-weight: 500;
                font-size: 20px;
                color: #000;
            }
        }

        &__submit {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-size: 18px;
            color: #fff;
            font-weight: 600;
            background-color:#ff5100;
            border: 2px solid #ff5100;
            margin-top: 10px;
            transition: all .3s ease;

            &:hover {
                background-color: transparent;
                color: #000;
            }
            
        }
    
        &__add-info {
            text-align: center;
            color: rgb(101, 101, 101);
            font-size: 14px;
        }
    }
}


.cart-product {
    
    &__img {
        img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            object-position: center;
        }
    }
    &__name-info {
        display: grid;
    }
    &__name {
        font-size: 16px;
        font-weight: 400;
    }
    &__chosen-flavour {
        font-size: 12px;
        font-weight: 400;
        opacity: .7;
    }
    &__buy {
        border: 0;
        background: transparent;
    }
    &__amount {
        display: flex;
        gap: 5px;
        align-items: center;
        border: 0;
        background: transparent;

        input {
            border: 0;
            background: transparent;
            text-align: center;
            width: 30px;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                appearance: none;
                -webkit-appearance: none;
                margin: 0;
            }

            &:focus-visible {
                outline: none;
            }
        }

        button {
            opacity: .7;
            border: 1px solid #000;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
        }
    }
    &__price {
        
    }
    &__remove {
        a {
            opacity: .7;
            border: 1px solid #000;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            font-size: 13px;
        }
    }

}

hr {
    padding: 0;
    margin: 0;
}